<div>
  <h3><%= @event.title %></h3>
</div>

<div>
  <p>Date: <%= @event.date.to_formatted_s(:long_ordinal) %></p>
</div>

<div>
  <p>Description: <%= @event.description %></p>
</div>

<div>
  <p>Event Page: <%= link_to "Event Website", @event.link %></p>
</div>

<% if @event == current_user %>
  <%= link_to "Edit Event", [:edit, :event] %>
<% end %>

<%= @event.inspect %>

<div>
  <%= link_to "See more events", :events %>
</div>
